<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <h1>
            <a href="/">Home</a>
            <a href="/newtask">Add new task</a>
        </h1>

        <table>
            <tr>
                <td>Name</td>
                <td>Due Date</td>
                <td>Description</td>
            </tr>
            <% for (var i = 0; i < tasks.length; i++) { %>
                <tr>
                    <td>
                        <%= tasks[i].name %>
                    </td>
                    <td>
                        <%= tasks[i].due %>
                    </td>
                    <td>
                        <%= tasks[i].desc %>
                    </td>  
                </tr>
            <% } %>
        </table>
        
    </body>
</html>